<ion-content *ngIf="isLoading">
  <div class="detail">
    <div class="detail__container">
      <div class="detail__image">
        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 280px"
        ></ion-skeleton-text>
      </div>
      <div class="detail__content">
        <div class="title">
          <h2>
            <ion-skeleton-text
              [animated]="true"
              style="width: 175px; height: 28px"
            ></ion-skeleton-text>
          </h2>
          <ion-skeleton-text
            [animated]="true"
            style="width: 29px; height: 22px"
          ></ion-skeleton-text>
        </div>
        <div class="time">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; height: 18px"
          ></ion-skeleton-text>
        </div>
        <div class="detail-group">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; height: 88px"
          ></ion-skeleton-text>
        </div>
        <div class="detail__body">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; height: 250px"
          ></ion-skeleton-text>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-content *ngIf="!isLoading">
  <div class="detail">
    <ion-button
      (click)="navCtrl.pop()"
      slot="icon-only	"
      class="back-btn"
      fill="outline"
      color="gradient"
    >
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <div class="detail__container">
      <div class="detail__image">
        <img
          [src]="bareImageUrl 
        + '/w500' + dataDetail?.poster_path"
          alt=""
        />
        <div class="play-video">
          <ion-icon name="play-circle-outline"></ion-icon>
        </div>
      </div>
      <div class="detail__content">
        <div class="title">
          <h2>{{dataDetail?.original_title || dataDetail?.name}}</h2>
          <span>4k</span>
        </div>
        <div class="time">
          <div class="group">
            <ion-icon style="font-size: 18px" name="time"></ion-icon>
            <span
              >{{type ==='movie' ? dataDetail?.runtime + 'minutes' :
              dataDetail?.number_of_episodes + 'episode' + '__' +
              dataDetail?.episode_run_time[0] + 'minutes'}}
            </span>
          </div>
          <div class="group">
            <ion-icon style="font-size: 18px" name="star"></ion-icon>
            <span>{{dataDetail?.vote_average}}</span>
          </div>
        </div>

        <div class="top-cast">
          <swiper-container
            [slidesPerView]="5"
            [loop]="true"
            [spaceBetween]="20"
          >
            <swiper-slide *ngFor="let item of dataTopCast">
              <img
                [src]="bareImageUrl 
            + '/w500' + item?.profile_path"
                alt=""
                style="
                  height: 50px;
                  width: 100%;
                  object-fit: cover;
                  border-radius: 50%;
                "
              />
              <h5 style="font-size: 12px">{{item.name}}</h5>
            </swiper-slide>
          </swiper-container>
        </div>

        <div class="detail-group">
          <div class="release">
            <h5 class="g-title">Release date</h5>
            <span
              >{{dataDetail?.release_date || dataDetail?.last_air_date}}</span
            >
          </div>
          <div class="genre">
            <h5 class="g-title">Genre</h5>
            <div class="flex-row">
              <span *ngFor="let item of dataDetail?.genres?.slice(0,2)"
                >{{item.name}}</span
              >
            </div>
          </div>
        </div>
        <div class="detail__body">
          <h2>Synopsis</h2>
          <p>{{dataDetail?.overview}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="related">
    <app-related-movie
      [idMovie]="idMovie"
      [bareImageUrl]="bareImageUrl"
    ></app-related-movie>
  </div>
</ion-content>
