<ion-content>
  <div class="discover">
    <div class="discover__container">
      <div class="discover__head">
        <h2>
          Find Movies, Tv series,<br />
          and more..
        </h2>
        <div class="discover__search">
          <input type="search" name="" id="" />
          <ion-icon name="search"></ion-icon>
        </div>
      </div>
      <div class="discover__filter">
        <ion-segment value="movies" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="movies">
            <ion-label>Movies</ion-label>
          </ion-segment-button>
          <ion-segment-button value="tvSeries">
            <ion-label>Tv Series</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div
          class="discover__data"
          *ngIf="selectedSegment === 'movies'  && dataDiscoverMovie.length > 0"
        >
          <div
            *ngFor="let item of dataDiscoverMovie"
            class="discover__card"
            [routerLink]="'/details/' + 'movie' + '/' + item.id"
          >
            <img [src]="bareImageUrl + '/w500/' + item.backdrop_path" alt="" />
            <div class="discover__card-content">
              <h2>{{ item.original_title }}</h2>
            </div>
          </div>
        </div>

        <div
          class="discover__data"
          *ngIf="selectedSegment === 'tvSeries' && dataDiscoverTv.length > 0"
        >
          <div
            *ngFor="let item of dataDiscoverTv"
            class="discover__card"
            [routerLink]="'/details/' + 'tv' + '/' + item.id"
          >
            <img [src]="bareImageUrl + '/w500/' + item.backdrop_path" alt="" />
            <div class="discover__card-content">
              <h2>{{item.name}}</h2>
            </div>
          </div>
        </div>

        <ion-infinite-scroll position="bottom" (ionInfinite)="loadData($event)">
          <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data..."
          >
          </ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </div>
    </div>
  </div>
</ion-content>
