<ion-header>
  <ion-toolbar>
    <div style="display: flex">
      <ion-button (click)="navCtrl.pop()" class="back-btn" fill="outline">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-searchbar
        #searchBar
        [debounce]="1000"
        (ionInput)="handleInput($event)"
      ></ion-searchbar>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content (ionInfinite)="loadMoreData($event)">
  <ng-container *ngIf="resultsSearch.length > 0; else noResults">
    <ion-list style="display: grid; grid-template-columns: 1fr 1fr">
      <ion-item *ngFor="let result of resultsSearch" class="ion-margin-bottom">
        <app-card-movie [dataMovie]="result" [search]="true"></app-card-movie>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #noResults>
    <div class="ion-padding">No data...</div>
  </ng-template>
  <!-- Thanh cuộn vô hạn -->
  <ion-infinite-scroll threshold="100px">
    <ion-infinite-scroll-content
      loadingText="Loading more data..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
