<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" #home>
      <ion-icon
        size="large"
        [name]="home.selected ? 'home' :'home-outline'"
        [color]="home.selected ? 'gradient' : ''"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="discover" #discover>
      <ion-icon
        size="large"
        [name]="discover.selected ? 'play-circle' :'play-circle-outline'"
        [color]="discover.selected ? 'gradient' : ''"
      ></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="user" #user>
      <ion-icon
        size="large"
        [name]="user.selected ? 'person' : 'person-outline'"
        [color]="user.selected ? 'gradient' : ''"
      ></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
