<div class="toprated">
  <div class="toprated__container">
    <h2 class="title gradient-text">TopRated</h2>
    <div *ngIf="isLoadingRated" class="loading-movie" style="height: 320px">
      <ion-skeleton-text
        [animated]="true"
        style="width: 100%; height: 320px"
      ></ion-skeleton-text>
    </div>
    <div class="trending__content" *ngIf="!isLoadingRated">
      <swiper-container>
        <swiper-slide *ngFor="let toprated of dataTopRated">
          <app-card-movie
            [dataMovie]="toprated"
            [dataGenre]="dataGenre"
          ></app-card-movie>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>
