<ion-content>
  <div class="register">
    <div class="register__container">
      <div class="register__title">
        <h3>Happy to see you</h3>
        <h1>Create a <br />New account</h1>
      </div>
      <form
        [formGroup]="formRegister"
        class="register_form"
        (ngSubmit)="register()"
      >
        <ion-input
          type="text"
          placeholder="Username"
          formControlName="username"
        ></ion-input>
        <ion-input
          type="email"
          placeholder="Email"
          formControlName="email"
        ></ion-input>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="password"
        ></ion-input>
        <ion-button type="submit"> Register </ion-button>
      </form>
      <div class="register__redirect">
        Don't have an account? <a routerLink="/login">SingIn</a>
      </div>
    </div>
  </div>
</ion-content>
